<!-- Sidebar -->
<!--<div class="w3-sidebar w3-blue w3-bar-block w3-card-2" style="width:200px">
    <h3 class="w3-bar-item">Menu</h3>
    <div class="w3-dropdown-hover">
        <a href="">
            <button class="w3-button w3-hover-white w3-blue">Home</button>
        </a>
    </div>

    <devices></devices>
</div>-->

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <devices></devices>
  </md-sidenav>

  <div class="example-sidenav-content">
    <button md-button (click)="sidenav.open()">
      menu
    </button>
  </div>

</md-sidenav-container>
