# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
docker-deploy
docker-setup/images
frontend/dist
frontend/srvdist
derby.log
labCon/target
labCon/srvdeploy
/tmp
/out-tsc
*.class

# dependencies
/frontend/node_modules

# IDEs and editors
.metadata
/.idea
*.tags
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
*.zip
*.log
/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
.DS_Store
.directory
Thumbs.db
