<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content">
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block w3-card-2" style="width:200px">
        <h3 class="w3-bar-item">Menu</h3>
         <div class="w3-dropdown-hover">
             <a href="">
                <button class="w3-button w3-white">{{title}}</button>
             </a>
        </div>

        <devices></devices>
    </div>

<!-- Page Content -->
<div style="margin-left:202px; ">
    <div class="page-header w3-teal">
        <h1>Home</h1>
    </div>

    <div>
        <p> You're logged in {{currentUser.firstName}} !</p>
        <div class="w3-container">
            <h1>Conso.</h1>
            <img src='/assets/mock_plot.png' alt="Plot" style="width:75%">
        </div>

        <p> <a [routerLink]="['/login']">Logout</a> </p>
    </div>
</div>
     
</body>
</html> 

