<h1>Ici sera le graphique</h1>
<h2> {{values[0]?.value}} </h2>
<ul>
  <li *ngFor="let v of values">
    {{v?.name}} {{v?.value}}
  </li>
</ul>
<!--<ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="values"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>-->