<div id="idl" class="w3-dropdown-click">
    <button (click)="show('li')" class="w3-button w3-hover-white w3-blue">Lights</button>
        <div id="li" class="w3-dropdown-content">
           <ul class="w3-ul w3-bar-block">
                <li *ngFor="let light of lights">
                  <a (click)="selectLight(light)" href="/light/{{light?.id}}">
                    <p>{{light?.id}}</p>
                  </a>
                </li>
            </ul>
        </div>
</div>

<div id="idh" class="w3-dropdown-click">
     <button (click)="show('hu')" class="w3-button w3-hover-white w3-blue">Hubs</button>
        <div id="hu" class="w3-dropdown-content">
            <ul class="w3-ul w3-bar-block">
                <li *ngFor="let hub of hubs">
                    <a (click)="selectHub(hub)" href="/hub/{{hub?.id}}"> <p>{{hub?.id}}</p> </a>
                </li>
            </ul>
        </div>
</div>

<div id ="ids" class="w3-dropdown-click">
     <button (click)="show('so')" class="w3-button w3-hover-white w3-blue">Sockets</button>
        <div id="so" class="w3-dropdown-content">
            <ul class="w3-ul w3-bar-block">
                <li *ngFor="let socket of sockets">
                    <a (click)="selectSocket(socket)" href="/socket/{{socket?.id}}"> <p>{{socket?.id}}</p> </a>
                </li>
            </ul>
        </div>
</div>


