<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Hub
                </h1>
            </div>
            <div class="media well">
                <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Nested media heading
                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <div class="media">
                        <a href="#" class="pull-left"><img alt="Bootstrap Media Another Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested media heading
                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Light 1</label>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>Light 2</label>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>Light 3</label>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Light 4</label>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>Light 5</label>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>Light 6
                        <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                        </label>
                    </label>
                    
                </div>
            </div>
        </div>
    </div>
</div>