<sidebar></sidebar>
<div class="w3-card-4" style="margin-left:202px">
    <header class="w3-container w3-blue">
        <h1>
            Hub {{hub?.id}}
        </h1>
    </header>
    <!-- Page Content -->
    <div>

            <div class="w3-bar w3-blue">
                <button (click)="show_live()" class="w3-button w3-hover-white w3-bar-item">Live</button>
                <button (click)="show_history()" class="w3-button w3-hover-white w3-bar-item">History</button>
            </div>

            <div class="w3-container" id="panel-live">
                <plot></plot>

                <div class="row">
                    <div class="col-md-4">
                        <a [routerLink]="[ '/socket', {myParam: '{{socketsId[1]}}']">
                            <p>Socket {{socketsId[1]}}</p>
                        </a>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                    <div class="col-md-4">
                        <p>Socket 2</p>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                    <div class="col-md-4">
                        <p>Socket 3</p>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>Socket 4</p>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                    <div class="col-md-4">
                        <p>Socket 5</p>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                    <div class="col-md-4">
                        <p>Socket 6</p>
                        <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                                </label>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-hide" id="panel-history">
                <label> Début : </label> <input type="date" id="dateDebut">
                <label> Fin : </label> <input type="date" id="dateFin">
            </div>
    </div>
</div>