<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header blue">
                <h1>
                    Hub {{hub?.id}}
                </h1>
            </div>
            <plot></plot>


            <div class="row">
                <div class="col-md-4">
                    <p>Socket 1</p>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <p>Socket 2</p>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <p>Socket 3</p>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Socket 4</p>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                    <p>Socket 5</p>
                    <label class="switch">
                    <input type="checkbox">
                    <div class="slider round"></div>
                    </label>
                </div>
                <div class="col-md-4">
                        <p>Socket 6</p>
                        <label class="switch">
                        <input type="checkbox">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>