<div *ngIf="mySocket" class="w3-card-2" style="margin-left:202px">
    <header class="w3-container w3-blue">
        <h1>
            Socket {{mySocket.id}}
        </h1>
    </header>
    <!-- Page Content -->

    <div class="w3-container row">
        <div class="col-md-12">
            <div class="w3-container w3-center row">
                <div class="w3-container col-md-6">
                    <h3 class="w3-tag">State</h3>
                </div>
                <div class="w3-container col-md-6">
                    <md-slide-toggle ngDefaultControl (change)="onChange($event)" [checked]="mySocket.state" ></md-slide-toggle>
                </div>
            </div>

            <plot *ngIf="valuesForPlot" [lineChartData]="valuesForPlot.lineChartData" [lineChartLabels]="valuesForPlot.lineChartLabels"></plot>
            <md-radio-group [(ngModel)]="plotTime" (change)="switchPlot($event)">
                <md-radio-button value="1">Live consumption</md-radio-button><br>
                <md-radio-button value="2">Consumption from the last hour</md-radio-button><br>
                <md-radio-button value="3">Consumption from the last day</md-radio-button><br>
                <md-radio-button value="4">Consumption from the last week</md-radio-button>
            </md-radio-group>
        </div>
    </div>

</div>