<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>labCon</display-name>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>pinfo2-realm</realm-name>
	</login-config>
	
	<security-role>
		<role-name>RegularUser</role-name>
	</security-role>
	
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>/login</web-resource-name>
		<url-pattern>/login</url-pattern>
		<http-method>GET</http-method>
		<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<session-config>
		<cookie-config>
			<http-only>false</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
</web-app>
